.App {
  padding: 0 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.AccountBalance {
  flex: 1;
  padding: 3em;
}

span {
  font-size: 1.5em;
  font-weight: 600;
}
.addBalance {
  margin-top: 0.5em;
}
button {
  cursor: pointer;
  margin-top: 0.5em;
  padding: 0.3em 1em;
  display: block;
}
label {
  font-size: 1.2em;
  font-weight: 550;
}
input {
  font-size: 0.8em;
  font-weight: 550;
}
.trackBalance h3 {
  font-size: 1.3em;
  line-height: 1em;
}
.monthPayment {
  flex: 2;
  padding: 3em;
}
